
    <footer class="footer">
        <div class="footer-content">
            <!-- Logo and Description -->
            <div class="footer-section about">
                <div class="logo-container">
                    <img src="assets/images/Logo.png" alt="Logo" class="footer-logo">
                    <h1 class="company-name">SmartBid</h1>
                </div>
                <p>Revolucionando Leilões e Avaliações Imobiliárias <br>com a Precisão da IA</p>
            </div>
            <!-- Contact Section 
            <div class="footer-section contact">
                <a href="mailto:contato@smartbid.com">
                    <h4 class="cta">Entre em Contato</h4>
                </a>
            </div>-->
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 SmartBid. Todos os direitos reservados.</p>
        </div>
    </footer>
