<body>
    <div class="main">
        <h1 id="value">Revolucionando Leilões e Avaliações Imobiliárias com a Precisão da IA.</h1>
        <h3 id="catch"> Descubra o Valor do Amanhã Hoje!</h3>
        <button onclick="scrollToSection()" class="cta">Começar Agora</button>
    </div>
    <div class="card-container">
        <div class="card">
            <img class="card-image" src="assets/images/main5.jpeg" alt="predio">
        </div>
        <div class="card">
            <h2>600+</h2>
            <p>Sites de leilão reunidos</p>
        </div>
        <div class="card">
            <h2>IA integrada para auxílio</h2>
        </div>
        <div class="card">
            <h2>600+</h2>
            <p>Sites de leilão reunidos</p></div>
        <div class="card">
            <p>Achieve Optimal Efficiency and Boost Productivity</p>
        </div>
    </div>
</body>