<body>
    <div class="main">
        <h1 id="value">AI-Powered Insights for Smarter Auctions and Real Estate Investments.</h1>
        <h3 id="catch">Predict, value, win</h3>
        <button class="cta">Get Started</button>
    </div>
    <div class="card-container">
        <div class="card">
            <img class="card-image" src="assets/images/main5.jpeg" alt="predio">
        </div>
        <div class="card">
            <h2>600+</h2>
            <p>Sites de leilão reunidos</p>
        </div>
        <div class="card">
            <h2>IA integrada para auxílio</h2>
        </div>
        <div class="card">
            <h2>600+</h2>
            <p>Sites de leilão reunidos</p></div>
        <div class="card">
            <p>Achieve Optimal Efficiency and Boost Productivity</p>
        </div>
    </div>






</body>