<section class="key-benefits-section">
    <div class="container">
      <!-- Left Content with an Image -->
      <div class="left-content">
        <img src="assets/images/body3.png" alt="Statistics Overview" class="stats-image" />
      </div>
  
      <!-- Right Content with Benefits -->
      <div class="right-content">
        <h1>Benefícios essenciais para sua produtividade no Mercado Leiloeiro</h1>
        <p>Nossa plataforma fornece mais segurança nos negócios, profissionaliza o leiloeiro e traz praticidade no estudo do mercado.</p>
        <ul>
          <li>
            <h3>Segurança na Tomada de Decisão</h3>
            <p>Oferecemos análises detalhadas e confiáveis que garantem que você tome decisões informadas ao participar de leilões. Com dados atualizados e precisos, você tem a confiança de que está fazendo a escolha certa, sem surpresas no futuro.</p>
          </li>
          <li>
            <h3>Profissionalismo com Fundamentos Econômicos</h3>
            <p>Para quem deseja mais do que palpites, entregamos resultados baseados em análises econômicas fundamentadas. Cada lote é avaliado com rigor, levando em consideração parâmetros financeiros e de mercado.</p>
          </li>
          <li>
            <h3>Praticidade e Economia de Tempo</h3>
            <p>O produto foi desenvolvido para otimizar seu tempo, oferecendo uma solução rápida e eficiente para pesquisa e avaliação de lotes. Em vez de passar horas vasculhando informações, você tem tudo o que precisa ao seu alcance, de forma simples e prática.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  